In [2]:
import pandas as pd

In [3]:
df_immun = pd.read_csv(r'C:\Users\hp\Documents\Plaksha\Datasets\challengeLab-ML\data\train\immunome.csv')
df_immun.head()

,SampleID,Bcells,CD16+CD56-NKcells,CD4+Tcells_mem,CD4+Tcells_naive,CD4+Tcells,CD45RA+Tregs,CD45RA-Tregs,CD56+CD16-NKcells,CD7+NKcells,...,M-MDSC_STAT5_Unstim,mDCs_STAT5_Unstim,ncMCs_STAT5_Unstim,pDCs_STAT5_Unstim,Tbet+CD4+Tcells_mem_STAT5_Unstim,Tbet+CD4+Tcells_naive_STAT5_Unstim,Tbet+CD8+Tcells_mem_STAT5_Unstim,Tbet+CD8+Tcells_naive_STAT5_Unstim,TCRgd+Tcells_STAT5_Unstim,Tregs_STAT5_Unstim
0,K4,0.053164,0.054978,0.297875,0.136289,0.445832,0.002570,0.013848,0.007052,0.070836,...,0.998954,0.953637,1.082629,0.808610,0.504269,0.757424,0.462045,0.454665,0.443859,0.529431
1,I4,0.137333,0.061311,0.274281,0.139593,0.422238,0.004931,0.013510,0.004393,0.075063,...,0.944868,0.821947,0.907417,0.604255,0.449490,0.493848,0.369439,0.352433,0.312076,0.388583
2,J4,0.103067,0.004128,0.162746,0.103950,0.270840,0.003198,0.007988,0.007153,0.090763,...,0.890405,0.800468,1.067789,0.563615,0.464563,1.004497,0.378557,0.423530,0.332368,0.447904
3,P4,0.149802,0.058161,0.141881,0.257104,0.406758,0.013168,0.009568,0.002663,0.069008,...,0.993542,0.791420,0.869596,0.680139,0.506348,0.753978,0.402905,0.434500,0.371880,0.421885
4,L4,0.124177,0.037422,0.235283,0.132742,0.374535,0.003886,0.008935,0.001813,0.044584,...,0.905803,0.649381,0.564601,0.548077,0.393871,0.649393,0.321009,0.300372,0.297449,0.332834

In [4]:
df_immun.describe()

,Bcells,CD16+CD56-NKcells,CD4+Tcells_mem,CD4+Tcells_naive,CD4+Tcells,CD45RA+Tregs,CD45RA-Tregs,CD56+CD16-NKcells,CD7+NKcells,CD8+Tcells_mem,...,M-MDSC_STAT5_Unstim,mDCs_STAT5_Unstim,ncMCs_STAT5_Unstim,pDCs_STAT5_Unstim,Tbet+CD4+Tcells_mem_STAT5_Unstim,Tbet+CD4+Tcells_naive_STAT5_Unstim,Tbet+CD8+Tcells_mem_STAT5_Unstim,Tbet+CD8+Tcells_naive_STAT5_Unstim,TCRgd+Tcells_STAT5_Unstim,Tregs_STAT5_Unstim
count,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,...,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000
mean,0.088664,0.040560,0.219791,0.166037,0.395832,0.006035,0.010955,0.004799,0.073156,0.096926,...,0.998286,0.816198,0.839417,0.618643,0.529808,0.768246,0.419237,0.424145,0.381095,0.506808
std,0.032683,0.032928,0.042841,0.069334,0.076555,0.003800,0.003607,0.002945,0.032396,0.033170,...,0.104334,0.106087,0.151541,0.098709,0.108285,0.240088,0.051584,0.064382,0.053005,0.121552
min,0.028000,0.004128,0.127551,0.048464,0.195000,0.000472,0.002967,0.001549,0.026858,0.042526,...,0.802085,0.562920,0.466587,0.442990,0.324728,0.361527,0.313406,0.300372,0.265301,0.332834
25%,0.060670,0.013874,0.191423,0.108341,0.352024,0.003499,0.008687,0.002536,0.047581,0.069418,...,0.911435,0.735956,0.753809,0.551750,0.456984,0.543226,0.381348,0.374881,0.344660,0.437602
50%,0.088891,0.033687,0.219631,0.162796,0.411729,0.005416,0.011389,0.003802,0.068568,0.100948,...,0.999512,0.803717,0.852729,0.610673,0.505229,0.761101,0.423601,0.420748,0.378587,0.494499
75%,0.108091,0.058694,0.252165,0.205072,0.441749,0.007428,0.013568,0.006478,0.090845,0.119696,...,1.071410,0.901521,0.915458,0.660776,0.604768,0.933505,0.454074,0.468308,0.413528,0.549361
max,0.171407,0.127325,0.310133,0.352913,0.514109,0.019802,0.018088,0.014610,0.169851,0.191042,...,1.202504,1.081295,1.270881,1.128234,0.798976,1.291782,0.560379,0.592947,0.505706,1.172768

In [5]:
df_meta = pd.read_csv(r'C:\Users\hp\Documents\Plaksha\Datasets\challengeLab-ML\data\challenge-meta-information.csv')
df_meta.head()

   time    GA SampleID randPerson   data
0     1  11.0       K1          K  train
1     1  11.0       J1          J  train
2     1  11.0       P1          P  train
3     1  11.0       L1          L  train
4     1  11.0       H1          H  train

In [6]:
df=df_immun.merge(df_meta, on='SampleID')
df.head()

,SampleID,Bcells,CD16+CD56-NKcells,CD4+Tcells_mem,CD4+Tcells_naive,CD4+Tcells,CD45RA+Tregs,CD45RA-Tregs,CD56+CD16-NKcells,CD7+NKcells,...,Tbet+CD4+Tcells_mem_STAT5_Unstim,Tbet+CD4+Tcells_naive_STAT5_Unstim,Tbet+CD8+Tcells_mem_STAT5_Unstim,Tbet+CD8+Tcells_naive_STAT5_Unstim,TCRgd+Tcells_STAT5_Unstim,Tregs_STAT5_Unstim,time,GA,randPerson,data
0,K4,0.053164,0.054978,0.297875,0.136289,0.445832,0.002570,0.013848,0.007052,0.070836,...,0.504269,0.757424,0.462045,0.454665,0.443859,0.529431,4,-0.428571,K,train
1,I4,0.137333,0.061311,0.274281,0.139593,0.422238,0.004931,0.013510,0.004393,0.075063,...,0.449490,0.493848,0.369439,0.352433,0.312076,0.388583,4,2.571429,I,test
2,J4,0.103067,0.004128,0.162746,0.103950,0.270840,0.003198,0.007988,0.007153,0.090763,...,0.464563,1.004497,0.378557,0.423530,0.332368,0.447904,4,-3.428571,J,train
3,P4,0.149802,0.058161,0.141881,0.257104,0.406758,0.013168,0.009568,0.002663,0.069008,...,0.506348,0.753978,0.402905,0.434500,0.371880,0.421885,4,1.571429,P,train
4,L4,0.124177,0.037422,0.235283,0.132742,0.374535,0.003886,0.008935,0.001813,0.044584,...,0.393871,0.649393,0.321009,0.300372,0.297449,0.332834,4,1.571429,L,train

In [7]:
df_serum = pd.read_csv(r'C:\Users\hp\Documents\Plaksha\Datasets\challengeLab-ML\data\train\SerumLuminex.csv')
df_serum.head()

,SampleID,serum-IL17F,serum-FASL,serum-TGFA,serum-MIP1A,serum-SDF1A,serum-IL27,serum-LIF,serum-IL1B,serum-IL2,...,serum-ICAM1,serum-VCAM1,serum-FGFB,serum-IL22,serum-PDGFBB,serum-VEGF,serum-LEPTIN,serum-PAI1,serum-CD40L,serum-ENA78
0,K4,84.5,27.00,65.25,46.50,226.00,36.5,52.0,33.50,38.0,...,1679.00,16645.00,50.5,186.2500,76.50,149.0,1744.00,7855.25,472.50,539.25
1,I4,126.0,23.25,66.75,40.00,183.50,32.0,47.0,20.75,54.5,...,715.75,15490.25,42.5,53.2500,91.50,145.5,5091.50,6557.00,382.00,419.25
2,J4,570.5,38.50,76.50,77.50,248.50,55.0,147.0,40.75,106.0,...,1008.25,16628.75,66.5,155.7925,119.00,183.0,1016.00,7737.00,1661.00,314.00
3,P4,140.0,22.25,48.50,68.75,231.50,32.5,32.0,34.50,30.5,...,378.00,15039.50,34.5,60.0900,94.50,136.5,4558.00,4785.25,186.25,692.50
4,L4,513.5,281.25,54.00,491.75,728.25,93.0,85.0,284.50,84.0,...,1223.50,17236.75,489.5,388.0000,109.25,1217.5,7575.25,5563.75,875.75,611.25

In [8]:
df=df.merge(df_serum, on='SampleID')
df.head()

,SampleID,Bcells,CD16+CD56-NKcells,CD4+Tcells_mem,CD4+Tcells_naive,CD4+Tcells,CD45RA+Tregs,CD45RA-Tregs,CD56+CD16-NKcells,CD7+NKcells,...,serum-ICAM1,serum-VCAM1,serum-FGFB,serum-IL22,serum-PDGFBB,serum-VEGF,serum-LEPTIN,serum-PAI1,serum-CD40L,serum-ENA78
0,K4,0.053164,0.054978,0.297875,0.136289,0.445832,0.002570,0.013848,0.007052,0.070836,...,1679.00,16645.00,50.5,186.2500,76.50,149.0,1744.00,7855.25,472.50,539.25
1,I4,0.137333,0.061311,0.274281,0.139593,0.422238,0.004931,0.013510,0.004393,0.075063,...,715.75,15490.25,42.5,53.2500,91.50,145.5,5091.50,6557.00,382.00,419.25
2,J4,0.103067,0.004128,0.162746,0.103950,0.270840,0.003198,0.007988,0.007153,0.090763,...,1008.25,16628.75,66.5,155.7925,119.00,183.0,1016.00,7737.00,1661.00,314.00
3,P4,0.149802,0.058161,0.141881,0.257104,0.406758,0.013168,0.009568,0.002663,0.069008,...,378.00,15039.50,34.5,60.0900,94.50,136.5,4558.00,4785.25,186.25,692.50
4,L4,0.124177,0.037422,0.235283,0.132742,0.374535,0.003886,0.008935,0.001813,0.044584,...,1223.50,17236.75,489.5,388.0000,109.25,1217.5,7575.25,5563.75,875.75,611.25

In [9]:
df_plasma_lumin = pd.read_csv(r'C:\Users\hp\Documents\Plaksha\Datasets\challengeLab-ML\data\train\plasmaLuminex.csv')
df_plasma_lumin.head()

,SampleID,plasma-IL17F,plasma-FASL,plasma-TGFA,plasma-MIP1A,plasma-SDF1A,plasma-IL27,plasma-LIF,plasma-IL1B,plasma-IL2,...,plasma-ICAM1,plasma-VCAM1,plasma-FGFB,plasma-IL22,plasma-PDGFBB,plasma-VEGF,plasma-LEPTIN,plasma-PAI1,plasma-CD40L,plasma-ENA78
0,K4,59.00,82.00,27.75,46.00,191.25,70.5,35.50,28.00,31.00,...,1578.50,15781.00,50.50,43.0000,62.50,164.00,1533.5,3707.50,115.75,213.50
1,I4,87.25,221.50,48.50,71.50,186.25,192.5,31.00,22.00,23.50,...,1754.75,16228.25,90.00,79.6375,267.75,226.00,8900.5,2319.00,141.50,158.50
2,J4,686.50,1088.50,453.75,252.25,575.50,1028.5,232.00,58.25,147.50,...,2055.00,15889.00,565.50,144.7500,1145.50,845.00,2001.5,3481.25,2731.75,724.25
3,P4,91.25,112.75,31.00,91.00,272.00,104.5,34.50,32.00,32.75,...,812.50,14052.75,162.25,38.0000,256.00,222.75,6240.0,1768.50,120.75,178.50
4,L4,186.75,544.75,194.25,171.25,345.75,389.5,40.75,36.50,51.00,...,1764.50,16098.00,353.75,53.2500,1388.25,469.00,9325.0,1855.50,176.00,301.25

In [10]:
df=df.merge(df_plasma_lumin, on='SampleID')
df.head()

,SampleID,Bcells,CD16+CD56-NKcells,CD4+Tcells_mem,CD4+Tcells_naive,CD4+Tcells,CD45RA+Tregs,CD45RA-Tregs,CD56+CD16-NKcells,CD7+NKcells,...,plasma-ICAM1,plasma-VCAM1,plasma-FGFB,plasma-IL22,plasma-PDGFBB,plasma-VEGF,plasma-LEPTIN,plasma-PAI1,plasma-CD40L,plasma-ENA78
0,K4,0.053164,0.054978,0.297875,0.136289,0.445832,0.002570,0.013848,0.007052,0.070836,...,1578.50,15781.00,50.50,43.0000,62.50,164.00,1533.5,3707.50,115.75,213.50
1,I4,0.137333,0.061311,0.274281,0.139593,0.422238,0.004931,0.013510,0.004393,0.075063,...,1754.75,16228.25,90.00,79.6375,267.75,226.00,8900.5,2319.00,141.50,158.50
2,J4,0.103067,0.004128,0.162746,0.103950,0.270840,0.003198,0.007988,0.007153,0.090763,...,2055.00,15889.00,565.50,144.7500,1145.50,845.00,2001.5,3481.25,2731.75,724.25
3,P4,0.149802,0.058161,0.141881,0.257104,0.406758,0.013168,0.009568,0.002663,0.069008,...,812.50,14052.75,162.25,38.0000,256.00,222.75,6240.0,1768.50,120.75,178.50
4,L4,0.124177,0.037422,0.235283,0.132742,0.374535,0.003886,0.008935,0.001813,0.044584,...,1764.50,16098.00,353.75,53.2500,1388.25,469.00,9325.0,1855.50,176.00,301.25

In [11]:
df_plasma_somal = pd.read_csv(r'C:\Users\hp\Documents\Plaksha\Datasets\challengeLab-ML\data\train\plasmaSomalogic.csv')
df_plasma_somal.head()

,SampleID,STUB1,CEBPB,ENO2,PIAS4,IL10RA,STAT3,IRF1,MCL1,OAS1,...,UBE2G2,TAGLN2,ATP5O,POMC.2,CRYZL1,SERPINF1,CTSF,FTCD,USP25,PLXNB2
0,K1,1084.0,396.2,7065.9,490.7,702.9,761.0,1003.2,443.4,140.7,...,4804.4,2233.0,3610.9,365.4,151.4,37885.8,1479.1,3261.8,561.3,3227.0
1,I1,916.7,492.2,6341.9,518.6,691.7,922.3,1226.6,728.3,328.1,...,5023.5,2108.8,2679.9,370.1,191.8,32384.0,1557.6,1950.0,701.3,3179.1
2,J1,744.4,541.4,8916.0,615.5,742.4,595.8,2336.8,614.6,162.3,...,4261.9,1804.6,1470.6,410.8,163.0,38938.3,1170.1,1036.8,552.8,3457.1
3,P1,831.0,544.7,5317.6,504.9,837.8,944.0,1011.6,459.2,150.6,...,4017.6,2057.7,2331.3,567.5,178.1,34359.5,1427.1,3149.2,597.0,3370.9
4,L1,1033.4,558.4,4022.1,548.6,742.9,891.4,1146.8,522.3,148.4,...,4489.4,2653.4,2189.1,569.8,176.3,35281.1,1944.2,3266.7,615.2,2916.1

In [12]:
df=df.merge(df_plasma_somal, on='SampleID')
df.head()

,SampleID,Bcells,CD16+CD56-NKcells,CD4+Tcells_mem,CD4+Tcells_naive,CD4+Tcells,CD45RA+Tregs,CD45RA-Tregs,CD56+CD16-NKcells,CD7+NKcells,...,UBE2G2,TAGLN2,ATP5O,POMC.2,CRYZL1,SERPINF1,CTSF,FTCD,USP25,PLXNB2
0,K4,0.053164,0.054978,0.297875,0.136289,0.445832,0.002570,0.013848,0.007052,0.070836,...,3442.400,2661.400,3879.200,418.800,153.700,36862.500,1063.600,7339.700,593.200,2918.900
1,I4,0.137333,0.061311,0.274281,0.139593,0.422238,0.004931,0.013510,0.004393,0.075063,...,3353.900,2562.000,3297.200,350.500,197.700,34493.700,1028.500,2729.400,810.200,2615.500
2,J4,0.103067,0.004128,0.162746,0.103950,0.270840,0.003198,0.007988,0.007153,0.090763,...,3500.800,2148.700,2311.400,428.500,207.400,38437.800,1199.900,1246.600,622.300,3341.500
3,P4,0.149802,0.058161,0.141881,0.257104,0.406758,0.013168,0.009568,0.002663,0.069008,...,3522.100,2087.000,2714.900,717.400,155.100,34343.200,1128.500,4105.500,736.300,3029.800
4,L4,0.124177,0.037422,0.235283,0.132742,0.374535,0.003886,0.008935,0.001813,0.044584,...,4319.846,2015.892,2432.463,472.327,179.804,37404.643,1708.804,3245.286,691.279,3513.018

In [13]:
df_copy = df.copy()

In [14]:
train = df[df.data == 'train']
test = df[df.data == 'test']

In [15]:
len(test)

12

In [16]:
y_train = train.GA
y_test = test.GA

In [17]:
X_train = train.drop(['GA','time','randPerson','SampleID','data'], axis=1)
X_test = test.drop(['GA','time','randPerson','SampleID','data'], axis=1)

In [18]:
X_test.head()

,Bcells,CD16+CD56-NKcells,CD4+Tcells_mem,CD4+Tcells_naive,CD4+Tcells,CD45RA+Tregs,CD45RA-Tregs,CD56+CD16-NKcells,CD7+NKcells,CD8+Tcells_mem,...,UBE2G2,TAGLN2,ATP5O,POMC.2,CRYZL1,SERPINF1,CTSF,FTCD,USP25,PLXNB2
1,0.137333,0.061311,0.274281,0.139593,0.422238,0.004931,0.013510,0.004393,0.075063,0.069362,...,3353.900,2562.000,3297.200,350.500,197.700,34493.700,1028.500,2729.400,810.200,2615.500
12,0.112706,0.020985,0.186667,0.143901,0.337246,0.006935,0.015591,0.003416,0.075746,0.126024,...,4795.700,2066.700,1561.300,505.400,186.300,38012.800,1857.400,10827.300,706.600,4394.100
13,0.050658,0.024131,0.214453,0.088116,0.313028,0.000472,0.003323,0.003541,0.064603,0.105474,...,4319.846,2015.892,2432.463,472.327,179.804,37404.643,1708.804,3245.286,691.279,3513.018
18,0.119092,0.060294,0.277815,0.153793,0.440762,0.006079,0.015419,0.005696,0.073532,0.069436,...,5023.500,2108.800,2679.900,370.100,191.800,32384.000,1557.600,1950.000,701.300,3179.100
29,0.097618,0.016901,0.193449,0.169328,0.369726,0.007478,0.016845,0.002463,0.062421,0.119051,...,5405.000,2012.500,2429.800,445.700,190.900,35255.400,1337.300,1954.900,801.200,4202.600

In [25]:
# Feature scaling
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler

num_pipeline = Pipeline([('min_max_scaler', MinMaxScaler())])
X_train_tr = num_pipeline.fit_transform(X_train)

## Random Forest

In [26]:
# Random forest
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(n_estimators=100 ,random_state=1)
rf_model.fit(X_train_tr, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

In [30]:
# training error
from sklearn.metrics import mean_absolute_error

preds_train = rf_model.predict(X_train_tr)
mean_absolute_error(y_train, preds_train)

1.1138010204081632

In [31]:
# Cross Validation
from sklearn.model_selection import cross_val_score
scores = cross_val_score(rf_model, X_train_tr, y_train, 
                         scoring ='neg_mean_absolute_error', cv=10)
def display_scores(scores):
    print('Scores:', scores)
    print('Mean: ', scores.mean())
    print('Standard Deviation:', scores.std())
    
display_scores(-scores)

Scores: [7.11238095 6.44404762 2.25142857 2.43071429 2.14666667 1.06452381
 2.17514286 3.61228571 1.24428571 7.604     ]
Mean:  3.6085476190476187
Standard Deviation: 2.361422496679306

In [32]:
# Saving model
import joblib

joblib.dump(rf_model, 'rf_model.pkl')

['rf_model.pkl']

## Elastic Net

In [33]:
from sklearn.linear_model import ElasticNet
elastic_net = ElasticNet(alpha=0.1, l1_ratio=0.5)
elastic_net.fit(X_train_tr, y_train)

ElasticNet(alpha=0.1, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [34]:
# Training error
preds_train = elastic_net.predict(X_train_tr)
mean_absolute_error(y_train, preds_train)

0.9409317668423595

In [35]:
scores = cross_val_score(elastic_net, X_train_tr, y_train, 
                         scoring ='neg_mean_absolute_error', cv=10)
display_scores(-scores)

Scores: [4.8904489  2.06729927 2.22050147 2.60106428 1.50024716 0.49672891
 2.11345924 2.38901632 1.914913   5.13151094]
Mean:  2.532518949555923
Standard Deviation: 1.3572303795412335

In [36]:
joblib.dump(elastic_net, 'elastic_net.pkl')

['elastic_net.pkl']

## Test Set

In [27]:
X_test_tr = num_pipeline.transform(X_test)
preds = rf_model.predict(X_test_tr)

In [28]:
# testing error
mean_absolute_error(y_test, preds)

2.2171428571428575

In [115]:
preds

array([ 1.93142857,  0.90285714, 11.90714286, 11.45571429, 12.24428571,
       12.44857143, 13.72285714, 16.24857143, 16.65142857, 23.41714286,
       26.32      , 21.81285714])

In [116]:
test

,SampleID,Bcells,CD16+CD56-NKcells,CD4+Tcells_mem,CD4+Tcells_naive,CD4+Tcells,CD45RA+Tregs,CD45RA-Tregs,CD56+CD16-NKcells,CD7+NKcells,...,UBE2G2,TAGLN2,ATP5O,POMC.2,CRYZL1,SERPINF1,CTSF,FTCD,USP25,PLXNB2
1,I4,0.137333,0.061311,0.274281,0.139593,0.422238,0.004931,0.013510,0.004393,0.075063,...,3353.900,2562.000,3297.200,350.500,197.700,34493.700,1028.500,2729.400,810.200,2615.500
12,W4,0.112706,0.020985,0.186667,0.143901,0.337246,0.006935,0.015591,0.003416,0.075746,...,4795.700,2066.700,1561.300,505.400,186.300,38012.800,1857.400,10827.300,706.600,4394.100
13,B4,0.050658,0.024131,0.214453,0.088116,0.313028,0.000472,0.003323,0.003541,0.064603,...,4319.846,2015.892,2432.463,472.327,179.804,37404.643,1708.804,3245.286,691.279,3513.018
18,I1,0.119092,0.060294,0.277815,0.153793,0.440762,0.006079,0.015419,0.005696,0.073532,...,5023.500,2108.800,2679.900,370.100,191.800,32384.000,1557.600,1950.000,701.300,3179.100
29,W1,0.097618,0.016901,0.193449,0.169328,0.369726,0.007478,0.016845,0.002463,0.062421,...,5405.000,2012.500,2429.800,445.700,190.900,35255.400,1337.300,1954.900,801.200,4202.600
30,B1,0.052293,0.010642,0.217094,0.096288,0.323420,0.000558,0.002967,0.003079,0.041518,...,3178.600,1902.000,2204.700,430.800,173.000,34599.000,1460.300,792.400,663.900,3995.900
35,I2,0.116981,0.048495,0.241318,0.180908,0.432021,0.009289,0.014539,0.006410,0.061089,...,5291.900,2005.600,2167.600,378.600,182.900,32540.400,1556.900,3606.400,794.100,3446.400
46,W2,0.102321,0.014489,0.177417,0.181568,0.366446,0.008960,0.016871,0.002292,0.055049,...,5548.200,1930.100,1438.700,437.100,186.500,35539.900,1482.300,5026.000,689.400,4143.300
47,B2,0.039824,0.021531,0.209109,0.118017,0.337753,0.001242,0.003302,0.006032,0.055731,...,3220.500,2429.800,2628.000,380.300,159.800,37022.800,1597.100,1215.200,612.100,4019.300
52,I3,0.096353,0.068407,0.257616,0.173699,0.440042,0.006673,0.014420,0.004266,0.079494,...,4705.300,1978.700,3022.000,372.300,210.900,39139.500,1488.900,7332.900,733.800,5611.400
63,W3,0.077124,0.014504,0.192619,0.189237,0.389797,0.008053,0.018088,0.003091,0.075937,...,5879.300,2022.200,1378.300,483.000,202.700,38641.800,1933.500,2582.900,731.400,6205.200
64,B3,0.028000,0.018420,0.222746,0.149671,0.382788,0.001649,0.004975,0.005595,0.056594,...,3818.800,1824.300,3182.800,369.500,185.900,43374.800,1891.100,4838.800,770.900,7005.500

In [117]:
df_sub = test[['SampleID','GA']]
df_sub

   SampleID         GA
1        I4   2.571429
12       W4   0.571429
13       B4   0.571429
18       I1  11.000000
29       W1  11.000000
30       B1  11.000000
35       I2  15.000000
46       W2  18.000000
47       B2  16.000000
52       I3  25.000000
63       W3  27.000000
64       B3  27.000000

In [118]:
df_sub['predicted.GA'] = preds
df_sub

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   SampleID         GA  predicted.GA
1        I4   2.571429      1.931429
12       W4   0.571429      0.902857
13       B4   0.571429     11.907143
18       I1  11.000000     11.455714
29       W1  11.000000     12.244286
30       B1  11.000000     12.448571
35       I2  15.000000     13.722857
46       W2  18.000000     16.248571
47       B2  16.000000     16.651429
52       I3  25.000000     23.417143
63       W3  27.000000     26.320000
64       B3  27.000000     21.812857